.wrapper {
  > p {
    margin: 0 0 2px 8px;
    > em {
      color: var(--secondary-700); 
      font-size: .8em;
      font-style: normal;
    }
  }
  &[aria-invalid="true"]{
    color: var(--danger-500);
    input,
    textarea {
      border-color: var(--danger-500);
    }
  }
  input {
    width: 100%;
    padding: 8px;
    height: 32px;
    border-bottom: 1px solid var(--secondary-900);
    transition: border-color .8s var(--easing);
    &:focus-visible {
      outline: 0;
    }
  }
  textarea {
    resize: none;
    width: 100%;
    padding: 8px;
    border-bottom: 1px solid var(--secondary-900);
    transition: border-color .8s var(--easing);
    &:focus-visible {
      outline: 0;
    }
  }
}